/* Spinner; Sizing inherited -- see App.jsx */
.spinner {
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #0E3D0E;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

/* Reference to Brikli's green color */
.brikli-color {
    color: #0E3D0E;
}

/* Constant rotation animation */
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 